* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-rows: 50vh 1fr 30vh;
    justify-content: center;
    align-items: center;
}

#side-content {
    border: solid red;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
}

main {
    border: solid blue;
}

button {
    background: #663F46;
    color: #E8D9DC;
    border-radius: 4vmin;
    width: 15vmin;
    margin: 6vmin;
    font-size: 2vmin;
    margin-left: 8vmin;
}

.countdown-text {
    margin-bottom: 15vmin;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 5vw);
}

#cards img {
    width: 15vmin;
    height: 15vmin;
    object-fit: cover;
}
