* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #EBF9FE;
}

h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    position: absolute;
    top: 40%;
    right: 68%;
}

button {
    position: absolute;
    top: 80%;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    background-color: #B1E7FB;
    color: #0982AE;
    border-color: #B1E7FB;
}

#countdown-timer {
    visibility: hidden;
    position: absolute;
    text-align: center;
    top: 45%;
    right: 70%;
    background-color: #B1E7FB;
    color: #0982AE;
    border: solid #0982AE;
    border-radius: 50px;
    font-size: 30px;
    height: 60px;
    width: 60px;
    padding: 10px;
    box-shadow: 2px 2px 2px #065774;
}

.card {
    position: relative;
    height: calc(25% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    cursor: pointer;
}

.card-container {
    height: 500px;
    width: 500px;
    background: #065774;
    border-radius: 5px;
    padding: 20px;
}

.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}

.card .back-image img {
    display: none;
    border-radius: 5px;
    max-width: 100px;
}

.card .front-image img {
    max-width: 100px;
    border-radius: 5px;
}

.flip-over img {
    display: none;
    max-width: 100px;
    border-radius: 5px;
}

.card .flip-over .front-image img{
    max-width: 100px;
    border-radius: 5px;
}
